.App {
 
  margin-top: 7%;
  color:#ECF0F1;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: large;
}


.container-newTodo{
  display: flex;
  padding:25px 50px;
  justify-content: flex-start;
  align-items: center;
  background-color: #2ABB9C;
  border:solid grey
}

.form-control{
  width:25%;
  margin:0px 10px;
  
}
.display-form-control{
  width:25%;
  margin:0px 10px;
  background-color:transparent;
  border:none;
  color:#fff;
  font-size:20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.checkbox{
  margin:0px 10px;
 
}

.setting-button{
  margin:0px 10px;

}
.btn{
  margin:0px 5px;
}